* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}


.box-one {
    background-color: #eb5757;
    border: 0px solid #9b51e0;
    padding: 10px;
}

.box-two {
    background-color: #002df5;
    border: 0px solid #18cf00;
}