:root {
    --clr-primary: #462a68;

    --clr-secondary: #6d41a1;

    --clr-bg: #191b1c;

    --clr-bg-secondary: #202223;

    font-size: 16px;

}

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
}

main p {

    background-color: green;

    width: 500px;
    height: 100px;
    padding: 1rem;
    margin: 0;
}