:root {
    --clr-primary: #462a68;

    --clr-secondary: #6d41a1;

    --clr-bg: #191b1c;

    --clr-bg-secondary: #202223;

    font-size: 16px;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-color: var(--clr-bg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    font-size: 2rem;
    background-color: azure;
}

.mini-card {
    margin-top: 5px;
    font-size: 1rem;
    background-color: azure;
    align-self: flex-end;
}


header {
    font-size: larger;
    color: antiquewhite;
    font-weight: 600;
}