html{
    color-scheme: dark;
}
body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    margin: 0;
    padding: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.welcome{
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 2.5rem;
}
.card {
    padding: 2rem 1rem;
    background-color: transparent;
    border: 5px solid rgb(37, 35, 35);
    border-radius: 10px;
    font-size: 1.1rem;
    transition: transform 500ms;
    position: relative;
}
.card::before{
    content: attr(data-id);
    position: absolute;
    top: 5%;
    left: 1rem;
}
.card:hover{
    transform: translateY(-10px);
}
.cards{
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(autofit, minmax(100px, 1fr));
    gap: 1rem;
    padding: 2rem 0rem;
}
.card-key{
    text-transform: capitalize;
}
.pair{
    padding: .5rem 0rem;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.input-field > input{
    padding: 0.25rem;
    border-color: transparent;
}
form{
    border: 2px solid;
    border-radius: 10px;
    width: min(80%, 400px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
}
form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
h1{
    font-size: 2.5rem;
}
button{
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 100px;
    background: hsl(185, 53%, 15%);
    border: 0.1em solid hsl(185, 53%, 34%);
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    transition: background 500ms;
}
/*button:hover,
button:focus-visible {
background: hsl(185, 53%, 34%);
}*/
button > span {
    position: absolute;
    width: 33.3%;
    height: 100%;
    z-index: -1;
}
button>:first-child{
    left: 0;
    top: 0;
}
button>:last-child{
    right: 0;
    top: 0;
}
button::before{
    content: '';
    position: absolute;
    width: 10%;
    aspect-ratio: 1;
    background: hsl(200 60% 20%);
    background: hsl(185, 53%, 34%);
    inset: 0;
    margin: auto;
    border-radius: 50%;
    transition: transform 1000ms;
    opacity: 0;
    z-index: -1;
}
button:hover::before{
    transform: scale(20);
    opacity: 1;
    transition: transform 1000ms;
}
button:has(:first-child:hover)::before{
    margin-left:0;
    transition: transform 500ms;
}
button:has(:last-child:hover)::before{
    margin-right:0;
    transition: transform 500ms;
}
button:active::before{
    transform: scale(0);
    opacity: 0;
    transition: all 500ms;
}
button:has(:first-child:active)::before{
    margin-left:0;
    transition: all 250ms;
}
button:has(:last-child:active)::before{
    margin-right:0;
    transition: all 250ms;
}
dialog{
    text-align: center;
    border-radius: 10px;
}
dialog > * {
    padding: 1rem;
}
dialog button{
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}