@import './variables';

@function weight($weight) {
    @return map-get($font-weight, $weight);
}

@mixin desktop {
    @media screen and (min-width: $desktop-range) {
        @content;
    }
}

body {
    background-color: $primary-color;
    font-weight: map-get($font-weight, light);
}

.main {
    &__card {
        background-color: $secondary-color;
        font-weight: map-get($font-weight, normal);
        transition: background-color, color 0.5s ease-in-out;
    }

    #{&}__card {
        background-color: $dark-color;
        color: #fff;
        font-weight: map-get($font-weight, bolder);
    }

    &__card:hover {
        background-color: $primary-color;
        color: #fff;
        font-weight: weight(light);
    }

    @include desktop() {
        &__card {
            background-color: green;
            color: #000;
            font-weight: weight(bold);
        }
    }
}